html {
  background-color: #000;
  font-family:Avenir,"Open Sans","Helvetica Neue",Helvetica,Arial,Verdana,Roboto,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo UI",メイリオ,Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-feature-settings:"palt";
  font-size: 16px;
}

body {
  color: #fff;
  margin: 0 auto;
  padding: 0;
}

.container{
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 1000px;
}

header {
  width: 100%;
  border-bottom: solid 1px #fff;
  padding: 20px;
  text-align: center;
}

h1 img {
  height: 100px;
}

h2 {
  font-size: 10px;
}

nav{
  background: #566EB3;
}

.navbar{
  display: none;
  list-style-type: none;
  font-size: 20px;
}

.navbar li{
  flex: 1 1 auto;
  text-align: center;
    padding: 10px;
}

.navbar li:hover{
  background: rgb(24, 137, 255);
}

main {
  width: 100%;
  text-align: center;
}

.content{
  padding: 10px;
  padding-bottom: 40px;
}

.content h1{
  font-size: 40px;
}

.content h2{
  text-align: center;
  font-size: 30px;
}

.flex_container{
  display: flex;
}

.flex_inner{
  text-align: left;
  flex: 1;
}

.comingsoon{
  margin-top: 20px;
  font-size: 60px;
  color:#566EB3;
}

#images img {
  width: 250px;
  margin: 10px;
}

footer {
  width: 100%;
  padding: 20px;
  border-top: solid 1px #fff;
  text-align: center;
  font-size: 14px;
}

@media screen and (min-width:768px) {
  .navbar{
    display: flex;
    justify-content: space-around;
  }
  
  .fixed{
    position: fixed;
    width: 100%;
     top: 0;
     z-index: 10000;
  }
  
  }